<section class="container">
  <div class="about-mosaic">
    <div class="about-stack">
      <div class="about-placeholder about-placeholder-short"></div>
      <div class="about-placeholder about-placeholder-short"></div>
    </div>
    <div class="about-placeholder about-placeholder-tall"></div>
    <div class="about-placeholder about-placeholder-tall"></div>
    <div class="about-stack">
      <div class="about-placeholder about-placeholder-short"></div>
      <div class="about-placeholder about-placeholder-short"></div>
    </div>
  </div>
</section>
